
$brown: #9e4310;
$brown-hover: #ac501c;
$browser-context: 16;

//fonts 
$ptsans: 'PT Sans', sans-serif;

//Functions 
@function px2em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; 
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Sprites
$tabs-sprite-dimensions: true;
@import "tabs/*.png";
@include all-tabs-sprites;


* {
    box-sizing: border-box;
}

body {
    font-family: $ptsans;
    font-size: 16px;
}

//Typography 

h2 {
    font-family: $ptsans;
    font-size: px2em(24);
    font-weight: 700;
}

h3 {
    font-size: px2em(16);
    font-weight: 700;
}

h4 {
    color: #730808;
    font-family: $ptsans;
    font-size: px2em(18);
    font-weight: 700;
}

.section-header {
    margin: 0;
    padding-bottom: 9px;
    text-transform: uppercase;
    color: #660000;
    border-bottom: 1px solid #dcdcdc;
}

//buttons

.btn--green {
    position: relative;
    color: #fff !important;
    text-transform: uppercase;
    font-size: px2em(16);
    padding: 5px 10px;
    min-width: 185px;
    background-color: #518600;
    box-shadow: 0px 2px 0px 0px #3d6401;
    border-radius: 20px;
    transition: all 0.2s ease;
    &:hover {
        color: #fff;
        background-color:  #6faf0d;
        box-shadow: 0px 2px 0px 0px #538408;
    }
    &:active {
        bottom: -2px;
        box-shadow: none;
    }
}

.header {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        @include clearfix();
    }
    &__logo {
        float: left;
        display: block;
        padding: 22px 0 27px;
    }
    &__banner {
        float: right;
        margin-top: 12px;
    }
}

.main-nav {
    background-color: $brown;
}

.primary-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();
    li {
        float: left;
        a {
            display: block;
            padding: 13px 21px;
            transition: background-color 0.4s ease;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: px2em(16);
            &:hover {
                background-color: #ac501c;
            }
        }
    }
}

.secondary-nav {
    float: right;
    @extend .primary-nav;
    li {
        a {
            background-color: #913b0b;
            &:hover {
                background-color: #853509;
            }
        }
    }
}


//main-content

.main-content {
    padding: 38px 0;
}

.content-left {
}

//Reports

.reports-block {
    margin-bottom: 51px;
    padding-right: 9px;
    .reports-content {
        padding-top: 20px;
    }
}

.reports-list {
    margin: 0 -4px;
    padding: 0;
    list-style: none;

    @include clearfix();
}

.reports-list-item {
    float: left;
    width: 202px;
    margin: 4.5px 4px;
    transition: box-shadow 0.4s linear;
    border: 2px solid #ffe9cf;
    box-shadow: inset 0px 0px 0px 100px #ffe9cf;
    &:hover {
        box-shadow: inset 0px 0px 0px 0px #ffe9cf;
    }
    > a {
        display: block;
        padding: 6px 4px 5px;
        text-decoration: none;

        @include clearfix();
    }
    &__image {
        float: left;
        width: 52px;
        height: 52px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        margin-left: 62px;
        color: #171717;
        p {
            margin-bottom: 0;
            font-size: px2em(14);
            line-height: (15/14);
            &.title {
                color: #550101;
                font-size: px2em(15);
            }
        }
    }
}

//Lucky

.lucky-block {
    margin-bottom: 27px;
}

.lucky-content {
    margin-top: 18px;
    padding: 22px 20px 13px;
    background-image: url("../images/lucky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lucky-items {
    @include clearfix();
    .lucky-item {
        float: left;
        width: 20%;
        text-align: center;
        p {
            margin-top: 4px;
            margin-bottom: 0;
            text-transform: uppercase;
            color: #2d2d2d;
            font-size: px2em(16);
        }
    }
}

.circle {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        content: "";
        transition: width .5s cubic-bezier(.06,.3,.94,.11);
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
    & > img {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50px;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    &--brown {
        background-color: $brown;
        &:after {
            background-color: #b15521;
        }
    }
    &--red {
        background-color: #730808;
        &:after {
            background-color: #8c1515;
        }
    }
}


//predictions

.predictions-content {
    padding-top: 30px;
}

.prediction-tab-controls {
    li {
        float: left;
        width: (100%/12);
        text-align: center;
        p {
            transition: color 0.3s ease;
            color: #757575;
            font-size: px2em(13);
        }
        &.active,
        &:hover {
            p {
                color: #b15521;
            }
            .prediction-circle {
                background-color: #b15521;
                &--gemini {
                    &:before {
                        @include tabs-sprite(predictions1);
                    }
                }
                &--leo {
                    &:before {
                        @include tabs-sprite(predictions2);
                    }
                }
                &--virgo {
                    &:before {
                        @include tabs-sprite(predictions3);
                    }
                }
                &--libra {
                    &:before {
                        @include tabs-sprite(predictions4);
                    }
                }
                &--scorpio {
                    &:before {
                        @include tabs-sprite(predictions5);
                    }
                }
                &--sagittarius {
                    &:before {
                        @include tabs-sprite(predictions6);
                    }
                }
                &--sag {
                    &:before {
                        @include tabs-sprite(predictions7);
                    }
                }
                &--aquarius {
                    &:before {
                        @include tabs-sprite(predictions8);
                    }
                }
                &--capricorn {
                    &:before {
                        @include tabs-sprite(predictions9);
                    }
                }
                &--pisces {
                    &:before {
                        @include tabs-sprite(predictions10);
                    }
                }
                &--taurus {
                    &:before {
                        @include tabs-sprite(predictions11);
                    }
                }
                &--cancer {
                    &:before {
                        @include tabs-sprite(predictions12);
                    }
                }
            }
        }
    }
}

.prediction-circle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    &--gemini {
        &:before {
            @include tabs-sprite(predictions1b);
        }
    }
    &--leo {
        &:before {
            @include tabs-sprite(predictions2b);
        }
    }
    &--virgo {
        &:before {
            @include tabs-sprite(predictions3b);
        }
    }
    &--libra {
        &:before {
            @include tabs-sprite(predictions4b);
        }
    }
    &--scorpio {
        &:before {
            @include tabs-sprite(predictions5b);
        }
    }
    &--sagittarius {
        &:before {
            @include tabs-sprite(predictions6b);
        }
    }
    &--sag {
        &:before {
            @include tabs-sprite(predictions7b);
        }
    }
    &--aquarius {
        &:before {
            @include tabs-sprite(predictions8b);
        }
    }
    &--capricorn {
        &:before {
            @include tabs-sprite(predictions9b);
        }
    }
    &--pisces {
        &:before {
            @include tabs-sprite(predictions10b);
        }
    }
    &--taurus {
        &:before {
            @include tabs-sprite(predictions11b);
        }
    }
    &--cancer {
        &:before {
            @include tabs-sprite(predictions12b);
        }
    }
}

//bottom nav

.bottom-nav {
    padding: 50px 0 40px;
    border-top: 1px solid #dcdcdc;
    background-image: url("../images/bnav-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    column-gap: 13px;
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
}

.navigation-list-item {
    h4 {
        margin: 0 0 10px;
        text-transform: uppercase;
    }
    ul {
        margin-bottom: 30px;
        padding: 0;
        list-style: none;
        li {
            margin-left: 18px;
            list-style-image: url('../images/list-bullet.png');
            & + li {
                margin-top: 15px;
            }
            a {
                color: #252424;
                font-size: px2em(15);
                &:hover {
                    color: #518600;
                    font-weight: 700;
                }
            }
        }
    }
}

//footer

.footer {
    padding: 32px 0;
    background-color: #730808;
}

.footer-copyright {
    margin-top: 21px;
    p {
        margin-bottom: 13px;
        color: #fff;
        font-size: px2em(15);
        &:last-child {
            margin-bottom: 0;
            line-height: (24/15);
        }
    }
}

.footer-navigation {
    margin-top: 21px;
    text-align: center;
    ul {
        display: inline-block;
        margin: 0;
        padding: 7px 0;
        border-top: 1px solid #660404;
        border-bottom: 1px solid #660404;
        list-style: none;
        @include clearfix();
        & + ul {
            margin-top: 15px;
        }
        li {
            float: left;
            a {
                position: relative;
                display: block;
                padding: 6px 15px;
                color: #fff;
                font-size: px2em(15);
                text-align: center;
                transition: all .4s ease;
                &:hover {
                    color: #ffe790;
                    font-weight: 700;
                    text-decoration: none;
                }
                &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: #660404;
                    right: 0;
                    top: 0;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

//content-right

.widget {
    margin-bottom: 30px;
}

.date-widget {
    > img {
        margin-bottom: 17px;
        width: 100%;
        height: auto;
        border: 1px solid #dcdcdc;
    }
    h3 {
        p {
            margin-bottom: 0;
        }
    }
}

.date-widget-content {
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    @include clearfix();
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #2c2c2c;
            font-size: px2em(14);
            line-height: (22/14);
        }
        span {
            color: #9e4310;
            font-weight: 700;
        }
    }
}

.form {
    .form-content {
        padding: 25px 15px;
        border: 1px solid #e8e8e8;
        border-top: 0;
        & > p {
            color: #212121;
            font-size: 0.85em;
            a {
                font-weight: 700;
                color: #518600;
            }
        }
    }
    &__header {
        padding: 11px 10px;
        background-color: $brown;
        color: #fff;
        font-size: px2em(16);
        text-transform: uppercase;
        text-align: center;
    }
    &__input {
        position: relative;
        margin-bottom: 20px;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 35px;
            width: 33px;
            background-color: $brown;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--name {
            &:before {
                background-image: url("../images/man.png");
            }
        }
        &--mail {
           &:before {
                background-image: url("../images/mail.png");
            }
        }
        input {
            width: 100%;
            height: 35px;
            padding-left: 43px;
            padding-right: 1px;
            color: #656565;
            font-size: px2em(15);
            outline: none;
        }
    }
    &__datepicker {
        .select-wrap {
            width: 30%;
            height: 24px;
            margin-right: 3%;
            position: relative;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            &:after {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                bottom: 0;
                width: 20px;
                height: 100%;
                background: #d0d0d0;
                z-index: 1;
            }
            select {
                width: 100%;
                height: 100%;
                position: relative;
                background: transparent;
                border: 1px solid #d0d0d0;
                font: 15px "MyriadProRegular";
                color: #656565;
                outline: none;
                z-index: 2;
            }
        }
    }
}