/* line 232, tabs/*.png */
.tabs-sprite, .tabs-predictions1, .tabs-predictions10, .tabs-predictions10b, .tabs-predictions11, .tabs-predictions11b, .tabs-predictions12, .tabs-predictions12b, .tabs-predictions1b, .tabs-predictions2, .tabs-predictions2b, .tabs-predictions3, .tabs-predictions3b, .tabs-predictions4, .tabs-predictions4b, .tabs-predictions5, .tabs-predictions5b, .tabs-predictions6, .tabs-predictions6b, .tabs-predictions7, .tabs-predictions7b, .tabs-predictions8, .tabs-predictions8b, .tabs-predictions9, .tabs-predictions9b, .prediction-tab-controls li.active .prediction-circle--gemini:before, .prediction-tab-controls li:hover .prediction-circle--gemini:before, .prediction-tab-controls li.active .prediction-circle--leo:before, .prediction-tab-controls li:hover .prediction-circle--leo:before, .prediction-tab-controls li.active .prediction-circle--virgo:before, .prediction-tab-controls li:hover .prediction-circle--virgo:before, .prediction-tab-controls li.active .prediction-circle--libra:before, .prediction-tab-controls li:hover .prediction-circle--libra:before, .prediction-tab-controls li.active .prediction-circle--scorpio:before, .prediction-tab-controls li:hover .prediction-circle--scorpio:before, .prediction-tab-controls li.active .prediction-circle--sagittarius:before, .prediction-tab-controls li:hover .prediction-circle--sagittarius:before, .prediction-tab-controls li.active .prediction-circle--sag:before, .prediction-tab-controls li:hover .prediction-circle--sag:before, .prediction-tab-controls li.active .prediction-circle--aquarius:before, .prediction-tab-controls li:hover .prediction-circle--aquarius:before, .prediction-tab-controls li.active .prediction-circle--capricorn:before, .prediction-tab-controls li:hover .prediction-circle--capricorn:before, .prediction-tab-controls li.active .prediction-circle--pisces:before, .prediction-tab-controls li:hover .prediction-circle--pisces:before, .prediction-tab-controls li.active .prediction-circle--taurus:before, .prediction-tab-controls li:hover .prediction-circle--taurus:before, .prediction-tab-controls li.active .prediction-circle--cancer:before, .prediction-tab-controls li:hover .prediction-circle--cancer:before, .prediction-circle--gemini:before, .prediction-circle--leo:before, .prediction-circle--virgo:before, .prediction-circle--libra:before, .prediction-circle--scorpio:before, .prediction-circle--sagittarius:before, .prediction-circle--sag:before, .prediction-circle--aquarius:before, .prediction-circle--capricorn:before, .prediction-circle--pisces:before, .prediction-circle--taurus:before, .prediction-circle--cancer:before {
  background-image: url('../images/tabs-sea4b7d2225.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions1 {
  background-position: 0 0;
  height: 40px;
  width: 45px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions10 {
  background-position: 0 -40px;
  height: 49px;
  width: 42px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions10b {
  background-position: 0 -89px;
  height: 49px;
  width: 42px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions11 {
  background-position: 0 -138px;
  height: 52px;
  width: 39px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions11b {
  background-position: 0 -190px;
  height: 52px;
  width: 39px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions12 {
  background-position: 0 -242px;
  height: 51px;
  width: 41px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions12b {
  background-position: 0 -293px;
  height: 51px;
  width: 41px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions1b {
  background-position: 0 -344px;
  height: 40px;
  width: 45px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions2 {
  background-position: 0 -384px;
  height: 44px;
  width: 40px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions2b {
  background-position: 0 -428px;
  height: 44px;
  width: 40px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions3 {
  background-position: 0 -472px;
  height: 46px;
  width: 46px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions3b {
  background-position: 0 -518px;
  height: 46px;
  width: 46px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions4 {
  background-position: 0 -564px;
  height: 41px;
  width: 49px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions4b {
  background-position: 0 -605px;
  height: 41px;
  width: 49px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions5 {
  background-position: 0 -646px;
  height: 56px;
  width: 48px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions5b {
  background-position: 0 -702px;
  height: 56px;
  width: 48px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions6 {
  background-position: 0 -758px;
  height: 55px;
  width: 57px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions6b {
  background-position: 0 -813px;
  height: 55px;
  width: 57px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions7 {
  background-position: 0 -868px;
  height: 56px;
  width: 39px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions7b {
  background-position: 0 -924px;
  height: 56px;
  width: 39px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions8 {
  background-position: 0 -980px;
  height: 50px;
  width: 42px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions8b {
  background-position: 0 -1030px;
  height: 50px;
  width: 42px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions9 {
  background-position: 0 -1080px;
  height: 43px;
  width: 48px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.tabs-predictions9b {
  background-position: 0 -1123px;
  height: 43px;
  width: 48px;
}

/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_base.scss */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

/* line 10, ../sass/base/_base.scss */
.section-header {
  margin: 0;
  padding-bottom: 9px;
  text-transform: uppercase;
  color: #660000;
  border-bottom: 1px solid #dcdcdc;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/Myriad Pro Regular/MYRIADPROREGULAR.eot");
  src: local("../fonts/Myriad Pro Regular/MYRIADPROREGULAR"), url("../fonts/Myriad Pro Regular/MYRIADPROREGULAR.woff") format("woff"), url("../fonts/Myriad Pro Regular/MYRIADPROREGULAR.ttf") format("truetype");
}
/* line 13, ../sass/base/_typography.scss */
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

/* line 19, ../sass/base/_typography.scss */
h3 {
  font-size: 1em;
  font-weight: 700;
}

/* line 24, ../sass/base/_typography.scss */
h4 {
  color: #730808;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
}

/* line 5, ../sass/page/_index.scss */
.btn--green {
  position: relative;
  min-width: 185px;
  padding: 5px 10px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #fff !important;
  border-radius: 20px;
  background-color: #518600;
  box-shadow: 0px 2px 0px 0px #3d6401;
  font-size: 1em;
}
/* line 16, ../sass/page/_index.scss */
.btn--green:hover {
  color: #fff;
  background-color: #6faf0d;
  box-shadow: 0px 2px 0px 0px #538408;
}
/* line 21, ../sass/page/_index.scss */
.btn--green:active {
  bottom: -2px;
  box-shadow: none;
}

/* line 31, ../sass/page/_index.scss */
.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 14, ../sass/_varibles.scss */
.header .container:before, .header .container:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.header .container:after {
  clear: both;
}
/* line 38, ../sass/page/_index.scss */
.header__logo {
  display: block;
  float: left;
  padding: 22px 0 27px;
}
/* line 43, ../sass/page/_index.scss */
.header__banner {
  float: right;
  margin: 12px 0 14px;
}
/* line 46, ../sass/page/_index.scss */
.header__banner img {
  max-width: 100%;
}

/* line 56, ../sass/page/_index.scss */
.main-nav {
  background-color: #9e4310;
}

/* line 60, ../sass/page/_index.scss */
.primary-nav, .secondary-nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 14, ../sass/_varibles.scss */
.primary-nav:before, .secondary-nav:before, .primary-nav:after, .secondary-nav:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.primary-nav:after, .secondary-nav:after {
  clear: both;
}
/* line 67, ../sass/page/_index.scss */
.primary-nav .dropdown > a, .secondary-nav .dropdown > a {
  position: relative;
  border: 1px solid transparent;
}
/* line 72, ../sass/page/_index.scss */
.primary-nav .dropdown:hover > a, .secondary-nav .dropdown:hover > a {
  border: 1px solid #ac501c;
  border-bottom: 1px solid transparent;
  color: #ac501c;
  background-color: #fff;
}
/* line 77, ../sass/page/_index.scss */
.primary-nav .dropdown:hover > a .dropdown-arrow, .secondary-nav .dropdown:hover > a .dropdown-arrow {
  transform: rotate(90deg);
  border-color: transparent transparent transparent #ac501c;
}
/* line 84, ../sass/page/_index.scss */
.primary-nav > li, .secondary-nav > li {
  position: relative;
  float: left;
}
/* line 87, ../sass/page/_index.scss */
.primary-nav > li > a, .secondary-nav > li > a {
  display: block;
  padding: 13px 21px;
  transition: background-color 0.4s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
}
/* line 95, ../sass/page/_index.scss */
.primary-nav > li > a:hover, .secondary-nav > li > a:hover {
  background-color: #ac501c;
}
/* line 99, ../sass/page/_index.scss */
.primary-nav > li ul, .secondary-nav > li ul {
  position: absolute;
  z-index: 10;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border: 1px solid #ac501c;
  border-top: none;
  background: #fff;
}
/* line 109, ../sass/page/_index.scss */
.primary-nav > li ul li, .secondary-nav > li ul li {
  padding: 0 7px;
  border-bottom: 1px solid #e8e8e8;
}
/* line 112, ../sass/page/_index.scss */
.primary-nav > li ul li:last-child, .secondary-nav > li ul li:last-child {
  border-bottom: 0;
}
/* line 115, ../sass/page/_index.scss */
.primary-nav > li ul li > a, .secondary-nav > li ul li > a {
  display: block;
  padding: 7px 9px;
  text-decoration: none;
  color: #464646;
  font-size: 0.8125em;
}
/* line 123, ../sass/page/_index.scss */
.primary-nav > li ul li:hover > a, .secondary-nav > li ul li:hover > a {
  color: #fff;
  background-color: #ac501c;
}
/* line 131, ../sass/page/_index.scss */
.primary-nav > li:hover > ul, .secondary-nav > li:hover > ul {
  display: block;
}
/* line 133, ../sass/page/_index.scss */
.primary-nav > li:hover > ul > li, .secondary-nav > li:hover > ul > li {
  position: relative;
}
/* line 135, ../sass/page/_index.scss */
.primary-nav > li:hover > ul > li:hover > ul, .secondary-nav > li:hover > ul > li:hover > ul {
  top: 0;
  left: 100%;
  display: block;
  width: 100%;
  border-top: 1px solid #ac501c;
}

/* line 148, ../sass/page/_index.scss */
.toggle-menu {
  position: relative;
  display: none;
  float: right;
  margin-top: 5px;
  padding: 11px 11px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
/* line 158, ../sass/page/_index.scss */
.toggle-menu .icon-bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}
/* line 164, ../sass/page/_index.scss */
.toggle-menu .icon-bar + .icon-bar {
  margin-top: 5px;
}

/* line 170, ../sass/page/_index.scss */
.dropdown-arrow {
  display: inline-block;
  margin-left: 6px;
  transform: translateY(-1px);
  vertical-align: baseline;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #ffffff;
  transition: 0.5s ease;
}

/* line 183, ../sass/page/_index.scss */
.secondary-nav {
  float: right;
}
/* line 188, ../sass/page/_index.scss */
.secondary-nav li a {
  background-color: #913b0b;
}
/* line 190, ../sass/page/_index.scss */
.secondary-nav li a:hover {
  background-color: #853509;
}

/* line 201, ../sass/page/_index.scss */
.main-content {
  padding: 38px 0;
}

/* line 209, ../sass/page/_index.scss */
.reports-block {
  margin-bottom: 51px;
  padding-right: 9px;
}
/* line 212, ../sass/page/_index.scss */
.reports-block .reports-content {
  padding-top: 20px;
}

/* line 217, ../sass/page/_index.scss */
.reports-list {
  margin: 0 -4px;
  padding: 0;
  list-style: none;
}
/* line 14, ../sass/_varibles.scss */
.reports-list:before, .reports-list:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.reports-list:after {
  clear: both;
}

/* line 224, ../sass/page/_index.scss */
.reports-list-item {
  float: left;
  width: 202px;
  margin: 4.5px 4px;
  transition: box-shadow 0.4s linear;
  border: 2px solid #ffe9cf;
  box-shadow: inset 0px 0px 0px 100px #ffe9cf;
}
/* line 231, ../sass/page/_index.scss */
.reports-list-item:hover {
  box-shadow: inset 0px 0px 0px 0px #ffe9cf;
}
/* line 234, ../sass/page/_index.scss */
.reports-list-item > a {
  display: block;
  padding: 6px 4px 5px;
  text-decoration: none;
}
/* line 14, ../sass/_varibles.scss */
.reports-list-item > a:before, .reports-list-item > a:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.reports-list-item > a:after {
  clear: both;
}
/* line 240, ../sass/page/_index.scss */
.reports-list-item__image {
  float: left;
  width: 52px;
  height: 52px;
}
/* line 244, ../sass/page/_index.scss */
.reports-list-item__image img {
  width: 100%;
  height: 100%;
}
/* line 249, ../sass/page/_index.scss */
.reports-list-item__text {
  margin-left: 62px;
  color: #171717;
}
/* line 252, ../sass/page/_index.scss */
.reports-list-item__text p {
  margin-bottom: 0;
  font-size: 0.875em;
  line-height: 1.07143;
}
/* line 256, ../sass/page/_index.scss */
.reports-list-item__text p.title {
  color: #550101;
  font-size: 0.9375em;
}

/* line 268, ../sass/page/_index.scss */
.lucky-block {
  margin-bottom: 27px;
}

/* line 272, ../sass/page/_index.scss */
.lucky-content {
  margin-top: 18px;
  padding: 22px 20px 13px;
  background-image: url("../images/lucky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 14, ../sass/_varibles.scss */
.lucky-items:before, .lucky-items:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.lucky-items:after {
  clear: both;
}
/* line 282, ../sass/page/_index.scss */
.lucky-items .lucky-item {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 286, ../sass/page/_index.scss */
.lucky-items .lucky-item p {
  margin-top: 4px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #2d2d2d;
  font-size: 1em;
}

/* line 296, ../sass/page/_index.scss */
.circle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 305, ../sass/page/_index.scss */
.circle:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  content: "";
  transition: width 0.5s cubic-bezier(0.06, 0.3, 0.94, 0.11);
  overflow: hidden;
}
/* line 317, ../sass/page/_index.scss */
.circle:hover:after {
  width: 100%;
}
/* line 321, ../sass/page/_index.scss */
.circle > img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 329, ../sass/page/_index.scss */
.circle--brown {
  background-color: #9e4310;
}
/* line 331, ../sass/page/_index.scss */
.circle--brown:after {
  background-color: #b15521;
}
/* line 335, ../sass/page/_index.scss */
.circle--red {
  background-color: #730808;
}
/* line 337, ../sass/page/_index.scss */
.circle--red:after {
  background-color: #8c1515;
}

/* line 347, ../sass/page/_index.scss */
.predictions-content {
  padding-top: 30px;
}

/* line 352, ../sass/page/_index.scss */
.prediction-tab-controls li {
  float: left;
  width: 8.33333%;
  text-align: center;
}
/* line 356, ../sass/page/_index.scss */
.prediction-tab-controls li p {
  transition: color 0.3s ease;
  color: #757575;
  font-size: 0.8125em;
}
/* line 363, ../sass/page/_index.scss */
.prediction-tab-controls li.active p, .prediction-tab-controls li:hover p {
  color: #b15521;
}
/* line 366, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle, .prediction-tab-controls li:hover .prediction-circle {
  background-color: #b15521;
}
/* line 369, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--gemini:before, .prediction-tab-controls li:hover .prediction-circle--gemini:before {
  background-position: 0 0;
  height: 40px;
  width: 45px;
}
/* line 374, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--leo:before, .prediction-tab-controls li:hover .prediction-circle--leo:before {
  background-position: 0 -384px;
  height: 44px;
  width: 40px;
}
/* line 379, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--virgo:before, .prediction-tab-controls li:hover .prediction-circle--virgo:before {
  background-position: 0 -472px;
  height: 46px;
  width: 46px;
}
/* line 384, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--libra:before, .prediction-tab-controls li:hover .prediction-circle--libra:before {
  background-position: 0 -564px;
  height: 41px;
  width: 49px;
}
/* line 389, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--scorpio:before, .prediction-tab-controls li:hover .prediction-circle--scorpio:before {
  background-position: 0 -646px;
  height: 56px;
  width: 48px;
}
/* line 394, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--sagittarius:before, .prediction-tab-controls li:hover .prediction-circle--sagittarius:before {
  background-position: 0 -758px;
  height: 55px;
  width: 57px;
}
/* line 399, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--sag:before, .prediction-tab-controls li:hover .prediction-circle--sag:before {
  background-position: 0 -868px;
  height: 56px;
  width: 39px;
}
/* line 404, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--aquarius:before, .prediction-tab-controls li:hover .prediction-circle--aquarius:before {
  background-position: 0 -980px;
  height: 50px;
  width: 42px;
}
/* line 409, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--capricorn:before, .prediction-tab-controls li:hover .prediction-circle--capricorn:before {
  background-position: 0 -1080px;
  height: 43px;
  width: 48px;
}
/* line 414, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--pisces:before, .prediction-tab-controls li:hover .prediction-circle--pisces:before {
  background-position: 0 -40px;
  height: 49px;
  width: 42px;
}
/* line 419, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--taurus:before, .prediction-tab-controls li:hover .prediction-circle--taurus:before {
  background-position: 0 -138px;
  height: 52px;
  width: 39px;
}
/* line 424, ../sass/page/_index.scss */
.prediction-tab-controls li.active .prediction-circle--cancer:before, .prediction-tab-controls li:hover .prediction-circle--cancer:before {
  background-position: 0 -242px;
  height: 51px;
  width: 41px;
}

/* line 433, ../sass/page/_index.scss */
.prediction-circle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 443, ../sass/page/_index.scss */
.prediction-circle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 452, ../sass/page/_index.scss */
.prediction-circle--gemini:before {
  background-position: 0 -344px;
  height: 40px;
  width: 45px;
}
/* line 457, ../sass/page/_index.scss */
.prediction-circle--leo:before {
  background-position: 0 -428px;
  height: 44px;
  width: 40px;
}
/* line 462, ../sass/page/_index.scss */
.prediction-circle--virgo:before {
  background-position: 0 -518px;
  height: 46px;
  width: 46px;
}
/* line 467, ../sass/page/_index.scss */
.prediction-circle--libra:before {
  background-position: 0 -605px;
  height: 41px;
  width: 49px;
}
/* line 472, ../sass/page/_index.scss */
.prediction-circle--scorpio:before {
  background-position: 0 -702px;
  height: 56px;
  width: 48px;
}
/* line 477, ../sass/page/_index.scss */
.prediction-circle--sagittarius:before {
  background-position: 0 -813px;
  height: 55px;
  width: 57px;
}
/* line 482, ../sass/page/_index.scss */
.prediction-circle--sag:before {
  background-position: 0 -924px;
  height: 56px;
  width: 39px;
}
/* line 487, ../sass/page/_index.scss */
.prediction-circle--aquarius:before {
  background-position: 0 -1030px;
  height: 50px;
  width: 42px;
}
/* line 492, ../sass/page/_index.scss */
.prediction-circle--capricorn:before {
  background-position: 0 -1123px;
  height: 43px;
  width: 48px;
}
/* line 497, ../sass/page/_index.scss */
.prediction-circle--pisces:before {
  background-position: 0 -89px;
  height: 49px;
  width: 42px;
}
/* line 502, ../sass/page/_index.scss */
.prediction-circle--taurus:before {
  background-position: 0 -190px;
  height: 52px;
  width: 39px;
}
/* line 507, ../sass/page/_index.scss */
.prediction-circle--cancer:before {
  background-position: 0 -293px;
  height: 51px;
  width: 41px;
}

/* line 14, ../sass/_varibles.scss */
.tab-content:before, .tab-content:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.tab-content:after {
  clear: both;
}

/* line 518, ../sass/page/_index.scss */
.prediction-outer .tab-content {
  float: left;
  width: calc(100% - 152px);
  min-height: 160px;
  padding: 10px 15px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  box-shadow: inset 0px 0px 51px 0px rgba(0, 0, 0, 0.1);
  font-size: 0.875em;
}
/* line 527, ../sass/page/_index.scss */
.prediction-outer .tab-content p {
  margin-bottom: 0;
  color: #252424;
  line-height: 1.57143;
}
/* line 531, ../sass/page/_index.scss */
.prediction-outer .tab-content p:last-child {
  margin-bottom: 10px;
}
/* line 535, ../sass/page/_index.scss */
.prediction-outer .tab-content .more {
  position: relative;
  color: #9e4310;
}
/* line 538, ../sass/page/_index.scss */
.prediction-outer .tab-content .more:after {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 13px;
  height: 13px;
  margin-top: -6.5px;
  content: ">";
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #9e4310;
  line-height: 13px;
}
/* line 554, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner {
  float: left;
}
/* line 556, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li {
  position: relative;
  z-index: 2;
  right: -2px;
  width: 146px;
  height: 50px;
  transition: background-color 0.2s ease;
  background-color: #518600;
}
/* line 564, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li:hover {
  background-color: #64a304;
}
/* line 567, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li + li {
  margin-top: 5px;
}
/* line 570, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li a {
  box-sizing: border-box;
  padding: 14px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
}
/* line 578, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li.active {
  width: 152px;
  border: 1px solid #dcdcdc;
  border-right: 0;
  background-color: #f3f3f3;
}
/* line 583, ../sass/page/_index.scss */
.prediction-outer .prediction-controls-inner li.active a {
  color: #518600;
  font-weight: 700;
}

/* line 596, ../sass/page/_index.scss */
.bottom-nav {
  padding: 50px 0 40px;
  border-top: 1px solid #dcdcdc;
  background-image: url("../images/bnav-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

/* line 605, ../sass/page/_index.scss */
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-gap: 13px;
  -moz-column-gap: 13px;
  column-gap: 13px;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

/* line 618, ../sass/page/_index.scss */
.navigation-list-item h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
}
/* line 622, ../sass/page/_index.scss */
.navigation-list-item ul {
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
/* line 626, ../sass/page/_index.scss */
.navigation-list-item ul li {
  margin-left: 18px;
  list-style-image: url("../images/list-bullet.png");
}
/* line 629, ../sass/page/_index.scss */
.navigation-list-item ul li + li {
  margin-top: 15px;
}
/* line 632, ../sass/page/_index.scss */
.navigation-list-item ul li a {
  color: #252424;
  font-size: 0.9375em;
}
/* line 635, ../sass/page/_index.scss */
.navigation-list-item ul li a:hover {
  color: #518600;
  font-weight: 700;
}

/* line 646, ../sass/page/_index.scss */
.footer {
  padding: 32px 0;
  background-color: #730808;
}

/* line 651, ../sass/page/_index.scss */
.footer-copyright {
  margin-top: 21px;
}
/* line 653, ../sass/page/_index.scss */
.footer-copyright p {
  margin-bottom: 13px;
  color: #fff;
  font-size: 0.9375em;
}
/* line 657, ../sass/page/_index.scss */
.footer-copyright p:last-child {
  margin-bottom: 0;
  line-height: 1.6;
}

/* line 664, ../sass/page/_index.scss */
.footer-navigation {
  margin-top: 21px;
  text-align: center;
}
/* line 667, ../sass/page/_index.scss */
.footer-navigation ul {
  display: inline-block;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border-top: 1px solid #660404;
  border-bottom: 1px solid #660404;
}
/* line 14, ../sass/_varibles.scss */
.footer-navigation ul:before, .footer-navigation ul:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.footer-navigation ul:after {
  clear: both;
}
/* line 676, ../sass/page/_index.scss */
.footer-navigation ul + ul {
  margin-top: 15px;
}
/* line 679, ../sass/page/_index.scss */
.footer-navigation ul li {
  float: left;
}
/* line 681, ../sass/page/_index.scss */
.footer-navigation ul li a {
  position: relative;
  display: block;
  padding: 6px 15px;
  transition: all .4s ease;
  text-align: center;
  color: #fff;
  font-size: 0.9375em;
}
/* line 689, ../sass/page/_index.scss */
.footer-navigation ul li a:hover {
  text-decoration: none;
  color: #ffe790;
  font-weight: 700;
}
/* line 694, ../sass/page/_index.scss */
.footer-navigation ul li a:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #660404;
}
/* line 704, ../sass/page/_index.scss */
.footer-navigation ul li a:last-child:after {
  display: none;
}

/* line 717, ../sass/page/_index.scss */
.widget {
  margin-bottom: 30px;
}

/* line 722, ../sass/page/_index.scss */
.date-widget > img {
  width: 100%;
  height: auto;
  margin-bottom: 17px;
  border: 1px solid #dcdcdc;
}
/* line 729, ../sass/page/_index.scss */
.date-widget h3 p {
  margin-bottom: 0;
}

/* line 735, ../sass/page/_index.scss */
.date-widget-content {
  margin-bottom: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
}
/* line 14, ../sass/_varibles.scss */
.date-widget-content:before, .date-widget-content:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.date-widget-content:after {
  clear: both;
}
/* line 741, ../sass/page/_index.scss */
.date-widget-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 745, ../sass/page/_index.scss */
.date-widget-content ul li {
  color: #2c2c2c;
  font-size: 0.875em;
  line-height: 1.57143;
}
/* line 750, ../sass/page/_index.scss */
.date-widget-content ul span {
  color: #9e4310;
  font-weight: 700;
}

/* line 758, ../sass/page/_index.scss */
.form .form-content {
  padding: 25px 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}
/* line 762, ../sass/page/_index.scss */
.form .form-content > p {
  color: #212121;
  font-size: 0.85em;
}
/* line 765, ../sass/page/_index.scss */
.form .form-content > p a {
  color: #518600;
  font-weight: 700;
}
/* line 770, ../sass/page/_index.scss */
.form .form-content .button-wrap {
  text-align: center;
}
/* line 774, ../sass/page/_index.scss */
.form__header {
  padding: 11px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #9e4310;
  font-size: 1em;
}
/* line 782, ../sass/page/_index.scss */
.form__input {
  position: relative;
  margin-bottom: 15px;
}
/* line 785, ../sass/page/_index.scss */
.form__input:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 35px;
  content: "";
  background-color: #9e4310;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 797, ../sass/page/_index.scss */
.form__input--name:before {
  background-image: url("../images/man.png");
}
/* line 802, ../sass/page/_index.scss */
.form__input--mail:before {
  background-image: url("../images/mail.png");
}
/* line 806, ../sass/page/_index.scss */
.form__input input {
  width: 100%;
  height: 35px;
  padding-right: 1px;
  padding-left: 43px;
  color: #656565;
  outline: none;
  font-size: 0.9375em;
}
/* line 816, ../sass/page/_index.scss */
.form__checkbox {
  margin-bottom: 12px;
  font-size: 0.9375em;
}
/* line 819, ../sass/page/_index.scss */
.form__checkbox input {
  display: none;
}
/* line 822, ../sass/page/_index.scss */
.form__checkbox label {
  position: relative;
  margin-bottom: 0;
  margin-left: 24px;
  padding-left: 27px;
  cursor: pointer;
  font-weight: normal;
}
/* line 829, ../sass/page/_index.scss */
.form__checkbox label:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 17px;
  margin-top: -8.5px;
  content: "";
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f1f1f1;
}
/* line 841, ../sass/page/_index.scss */
.form__checkbox label:last-of-type {
  margin-left: 15px;
}
/* line 846, ../sass/page/_index.scss */
.form__checkbox input:checked + label:before {
  background: url("../images/checked.png") no-repeat center;
}
/* line 851, ../sass/page/_index.scss */
.form__datepicker {
  margin-bottom: 20px;
  font-size: 0.9375em;
}
/* line 854, ../sass/page/_index.scss */
.form__datepicker p {
  margin-bottom: 8px;
}
/* line 857, ../sass/page/_index.scss */
.form__datepicker .select-wrap {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 24px;
  margin-right: 3%;
}
/* line 863, ../sass/page/_index.scss */
.form__datepicker .select-wrap:last-child {
  margin-right: 0;
}
/* line 866, ../sass/page/_index.scss */
.form__datepicker .select-wrap:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  content: '';
  background: #d0d0d0;
}
/* line 877, ../sass/page/_index.scss */
.form__datepicker .select-wrap select {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #656565;
  border: 1px solid #d0d0d0;
  outline: none;
  background: transparent;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 0.90625em;
}

/* line 893, ../sass/page/_index.scss */
.thumbnails-widget-item {
  padding: 6px 8px 4px;
  border: 1px solid #e8e8e8;
}
/* line 14, ../sass/_varibles.scss */
.thumbnails-widget-item:before, .thumbnails-widget-item:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/_varibles.scss */
.thumbnails-widget-item:after {
  clear: both;
}
/* line 897, ../sass/page/_index.scss */
.thumbnails-widget-item + .thumbnails-widget-item {
  margin-top: 9px;
}
/* line 900, ../sass/page/_index.scss */
.thumbnails-widget-item .thumbnail-item {
  float: left;
  width: 33.3%;
  padding: 0 10px;
  text-align: center;
}
/* line 905, ../sass/page/_index.scss */
.thumbnails-widget-item .thumbnail-item img {
  max-width: 100%;
}
/* line 908, ../sass/page/_index.scss */
.thumbnails-widget-item .thumbnail-item p {
  margin: 4px 0 0;
  font-size: 0.875em;
}
/* line 911, ../sass/page/_index.scss */
.thumbnails-widget-item .thumbnail-item p a {
  color: #202020;
}
/* line 913, ../sass/page/_index.scss */
.thumbnails-widget-item .thumbnail-item p a:hover {
  color: #730808;
}

@media (max-width: 1200px) {
  /* line 927, ../sass/page/_index.scss */
  .main-nav {
    text-align: center;
  }

  /* line 931, ../sass/page/_index.scss */
  .primary-nav, .secondary-nav,
  .secondary-nav {
    text-align: left;
    float: none;
    display: inline-block;
  }

  /* line 938, ../sass/page/_index.scss */
  .primary-nav, .secondary-nav {
    float: none;
  }

  /* line 942, ../sass/page/_index.scss */
  .primary-nav > li > a, .secondary-nav > li > a,
  .secondary-nav > li > a {
    padding: 13px 19px;
  }

  /* line 947, ../sass/page/_index.scss */
  .reports-list-item {
    width: 32%;
  }

  /* line 950, ../sass/page/_index.scss */
  .footer-navigation ul li {
    display: inline-block;
    float: none;
  }

  /* line 954, ../sass/page/_index.scss */
  .form__datepicker .select-wrap {
    width: 100%;
    margin-right: 0;
  }
  /* line 957, ../sass/page/_index.scss */
  .form__datepicker .select-wrap + .select-wrap {
    margin-top: 10px;
  }

  /* line 962, ../sass/page/_index.scss */
  .form__checkbox span {
    display: block;
    margin-bottom: 5px;
  }
  /* line 966, ../sass/page/_index.scss */
  .form__checkbox label {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  /* line 973, ../sass/page/_index.scss */
  .header {
    text-align: center;
  }
  /* line 975, ../sass/page/_index.scss */
  .header__logo {
    display: inline-block;
    float: none;
  }

  /* line 980, ../sass/page/_index.scss */
  .predictions-content {
    padding-bottom: 30px;
  }

  /* line 983, ../sass/page/_index.scss */
  .navigation-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 768px) {
  /* line 991, ../sass/page/_index.scss */
  .toggle-menu {
    display: block;
  }

  /* line 995, ../sass/page/_index.scss */
  .primary-nav, .secondary-nav {
    display: none;
  }

  /* line 999, ../sass/page/_index.scss */
  .primary-nav > li, .secondary-nav > li {
    float: none;
  }

  /* line 1003, ../sass/page/_index.scss */
  .primary-nav > li ul, .secondary-nav > li ul {
    width: 100%;
  }

  /* line 1007, ../sass/page/_index.scss */
  .primary-nav > li:hover > ul > li:hover > ul, .secondary-nav > li:hover > ul > li:hover > ul {
    left: 0;
    position: relative;
  }

  /* line 1012, ../sass/page/_index.scss */
  .secondary-nav > li {
    float: left;
  }

  /* line 1016, ../sass/page/_index.scss */
  .secondary-nav {
    float: left;
    display: block;
  }

  /* line 1021, ../sass/page/_index.scss */
  .reports-list-item {
    width: calc(50% - 8px);
  }

  /* line 1024, ../sass/page/_index.scss */
  .lucky-items .lucky-item {
    width: 50%;
    margin-top: 15px;
  }

  /* line 1028, ../sass/page/_index.scss */
  .prediction-tab-controls {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
  }
  /* line 1032, ../sass/page/_index.scss */
  .prediction-tab-controls li {
    display: inline-block;
    float: none;
    width: auto;
  }

  /* line 1038, ../sass/page/_index.scss */
  .navigation-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 478px) {
  /* line 1046, ../sass/page/_index.scss */
  .secondary-nav > li > a {
    padding: 13px;
  }

  /* line 1049, ../sass/page/_index.scss */
  .reports-list-item {
    width: 100%;
    margin: 4.5px 0;
  }

  /* line 1053, ../sass/page/_index.scss */
  .lucky-items .lucky-item {
    width: 100%;
  }

  /* line 1056, ../sass/page/_index.scss */
  .footer-navigation ul {
    width: 100%;
  }
  /* line 1058, ../sass/page/_index.scss */
  .footer-navigation ul li {
    width: 100%;
  }
}
